[Unit]
Description=PICS Service
After=network.target

[Service]
ExecStart=stdbuf -o0 -e0 /home/pi/PICS/PICS
WorkingDirectory=/home/pi/PICS
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

